.btn {
    width: 150px;
    height: 50px;
    background: linear-gradient(135deg, #6366f1, #a78bfa); /* blue to purple */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(99, 102, 241, 0.5);
    opacity: 1;
  }

  .toast{
    width: 300px;
    height: 50px;
    background: green; 
    border-radius: 8px;
    opacity: 1;
  }

  .card {
    width: 300px;
    height: 300px;
    background: red; 
    border-radius: 12px;
    opacity: 1;
  }